<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Add to Cart</th>
        </tr>
        </thead>
        <tbody th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <form th:action="@{/add-to-cart}" method="post">
                    <input type="hidden" name="id" th:value="${product.id}" />
                    <button type="submit">Add to Cart</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/cart}">To Cart</a>
</body>
</html>
