<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Add to Cart</th>
        </tr>
        </thead>
        <tbody th:each="prod : ${products}">
        <tr>
            <td th:text="${prod.id}"></td>
            <td th:text="${prod.name}"></td>
            <td th:text="${prod.price}"></td>
            <td>
                <form th:action="@{/home}" th:method="post" th:object="${product}">
                    <input type="hidden" name="id" th:value="${prod.id}" />
                    <input type="hidden" name="name" th:value="${prod.name}" />
                    <input type="hidden" name="price" th:value="${prod.price}" />
                    <button type="submit">Add to Cart</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/cart}">To Cart</a>
</body>
</html>
