<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
</head>
<body>
    <label th:text="${name}"></label>
    <br>
    <label th:text="${address}"></label>
    <br>
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Name Product</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody th:each="cart, stat : ${products}">
            <tr>
                <td th:text="${stat.index + 1}"></td>
                <td th:text="${cart.product.name}"></td>
                <td th:text="${cart.product.price}"></td>
                <td th:text="${cart.quantity}"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td><strong>Total Price:</strong></td>
                <td th:text="${cartTotal}"></td>
            </tr>
        </tfoot>
    </table>
    <label>Thank you for much</label>
</body>
</html>